// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap/variables";

@import 'bootswatch-variables';


.run-data-container {
  padding-top:20px;
  h3, h2 {font-weight: bolder;}
}
.total-distance {
  text-align:center; background-color: $brand-primary; color: #fff;
}
.run-third-box {
  text-align:center; background-color: $brand-primary; color: #fff;
  border:5px solid $body-bg;
}

.underlined {border-bottom:2px solid $btn-default-bg; padding-bottom:10px;}

.distance-padding {padding:5px;}

.dashboard-container {
  background-color: lighten($body-bg, 3%)
}

.leaderboard {
  .name {display:inline-block; width:20%;}
  .distance {display:inline;}
  .selected {border-width: 1px 0px 1px 0px; border-color:white; border-style:solid;}
}

