// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";

.run-data-container {padding-top:20px;}
.total-distance {
  text-align:center; background-color: $brand-primary; color: #fff;
}
.run-third-box {
  text-align:center; background-color: $brand-primary; color: #fff;
  border:5px solid white;
}
